.header{

    background-color: aliceblue;
    display: flex;
    justify-content: space-between;



}

.grid{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

border: 2px solid black;
border-radius: 50px;


}




.item {

background-color:white;


border-radius: 20px;
padding: 30px;
margin: 25px;
width: 310px;
font-family: fantasy;


}

.footer{

    display: flex;
    justify-content: flex-end;
}

h2,p{

    text-align: center;

}

a:link{

color:floralwhite

}

a:visited{

    color:floralwhite
    
    }

.item:hover{

transform: scale(1.2);


}


